.drink-container{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;

}

.drink-box{
    position: relative;
    height: 80vh;
    margin-top: 10vh;
    display: flex;
    margin-left:10%;
    justify-content: center;
    align-items: flex-start;
    text-align: flex-start;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    
}

.drink-box h2{
    font-size: 5em;
    color:#FDFFFE;
    text-shadow: 0.5px 0.5px #657688;
    overflow: hidden;
}

.drink-box span{
    font-size: 3em;
    color:#FDFFFE;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 0.5px 0.5px #657688;
    overflow: hidden;
}