

.top-row, .middle-row, .bottom-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    
}
.middle-row{
    width: 50%;
    margin-top: -240px;

}

.panel{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    text-align: center;
    position: fixed;

}

.schedule{
    height: 340px;
    width: calc(45vw - 30px);
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: 8%;
    margin-top: 5%;
    margin-right: 30px;
    border-radius: 20px;
    
    position: relative;
    background: rgb(173,223,173,0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
    border: 1px solid rgba(255, 255, 255, 0.11);

}

.chatbot{
    height: 600px;
    width: calc(45vw - 30px);
    align-content: center;
    justify-content: center;
    margin-top: 5%;
    margin-left: 30px;
    margin-right: 8%;
    border-radius: 20px;

    position: relative;
    background: rgb(173,223,173,0.6);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
    border: 1px solid rgba(255, 255, 255, 0.11);
}

.calander{
    height: 220px;
    width: calc(20vw - 20px);
    align-content: center;
    justify-content: center;
    margin-top: 0%;
    margin-left: 16%;
    border-radius: 20px;

    position: relative;
    background: rgb(137,207,240,0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
    border: 1px solid rgba(255, 255, 255, 0.11);
}

.now{
    height: 220px;
    width: calc(20vw - 20px);
    align-content: center;
    justify-content: center;
    margin-top: 0%;
    margin-right: 30px;
    border-radius: 20px;
    
    position: relative;
    background: rgb(137,207,240,0.7);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
    border: 1px solid rgba(255, 255, 255, 0.11);
}

.extraction{
    height: 300px;
    width: calc(90vw);
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: 8%;
    margin-right: 8%;
    border-radius: 20px;
    
    position: relative;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
    border: 1px solid rgba(255, 255, 255, 0.11);
}


.schedule-expand-icon {
    position: absolute;  
    top: 10px; 
    right: 10px;  
    z-index: 10; 
}